# AWS EC2 instance and security group creation
- t2.xlarge instance
- 32GB of storage recommended
- Allow ports 4000 - 38888
- Connect to EC2 via ssh

-- In 1st Bash Terminal:

# Connect to EC2 using SSH Client
ssh -i "scd-warehouse-kp.pem" ec2-user@ec2-44-200-22-112.compute-1.amazonaws.com


-- In 2nd Bash Terminal:

mkdir docker-exp
cd docker-exp
touch docker-compose.yml

# Copy script to file and save

cd ..

# Copy files from local Directory to EC2
scp -r -i "scd-warehouse-kp.pem" docker-exp ec2-user@ec2-44-200-22-112.compute-1.amazonaws.com:/home/ec2-user/docker-exp


-- In 1st Bash Terminal:
# To check file in EC2 instance
ls
cd docker-exp
ls

cd ..

# Commands to install Docker
sudo yum update -y
sudo yum install docker
sudo curl -L "https://github.com/docker/compose/releases/download/1.29.1/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
sudo chmod +x /usr/local/bin/docker-compose
sudo gpasswd -a $USER docker
newgrp docker
sudo yum install python-pip
sudo pip install docker-compose

#Start Docker: 
sudo systemctl start docker

docker ps

cd docker-compose

docker-compose up



-- In 2nd Bash Terminal:
# Connect Locally with Port Forwarding
ssh -i "scd-warehouse-kp.pem" ec2-user@ec2-44-200-22-112.compute-1.amazonaws.com -L 2081:localhost:2041 -L 4888:localhost:4888 -L 2080:localhost:2080 -L 8050:localhost:8050 -L 4141:localhost:4141

# In Chrome for Jupyter Notebook
localhost:4888

# In Chrome for Apache NiFi
localhost:2080/nifi/

-- Test Data Preparation
-- Faker

-- In 2nd Bash Terminal:
# Connect to EC2 (Due to Timeout)
ssh -i "scd-warehouse-kp.pem" ec2-user@ec2-44-200-22-112.compute-1.amazonaws.com

docker exec -i -t nifi bash

ls

-- make directory "scd" if not available
mkdir -p scd

# To check path
pwd

cd scd

ls

pwd

# Copy File from Jupyter Notebook Directory to Apache NiFi Directory ("scd/")
cp /opt/workspace/nifi/FakeDataset/customer_(timestamp).csv scd/

-- Example:
cp /opt/workspace/nifi/FakeDataset/customer_20241223235829.csv scd/



#Stop Docker:
docker-compose down

sudo systemctl stop docker

#How to access tools in local machine
    List Docker containers running: docker ps
    CLI access in Docker container: docker exec -i -t nifi bash
    Jupyter Lab at: http://ip_address:4888/lab? 
    NiFi at: http://ip_address:2080/nifi/ 


# Test data preparation
docker exec -i -t nifi bash
/opt/workspace/nifi/FakeDataset/customer_(timestamp).csv 